<nav class="navbar bg-elegant">
    <div class="container-fluid d-flex justify-content-between">

        <!--EMPTY SPACE FOR JUSTIFY-CONTENT-BETWEEN-->
        <div class="d-flex">
            <div style="width:94px"></div>
            <div style="width:95px"></div>
            @if(User.IsInRole("ADMIN")){
                <div style="width:94px"></div>
            }
        </div>

        <div class="row">
            <!--RESTAURANT LOGO-->
            <div class="col-12">
                <a class="navbar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
                    <img src="~/img/logoCorona.png"
                            alt="Logo"
                            height="80"
                            width="80"
                            class="d-inline-block" />
                </a>
            </div> 
            <!--RESTAURANT NAME-->
            <div class="col-12 text-center">
                <a class="navbar-brand text-contrast" href="@Url.Action("Index", "Home")">
                    <h1>PIZZA RICH</h1>
                </a>
            </div>
        </div>
        <div class="row"> 

            <!--ADMIN BUTTON-->
            @if(User.IsInRole("ADMIN"))
            {  
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn bg-elegant  text-contrast" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("ModifyMenu", "Menu")">Modifica il menù</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("AddNewPizza", "Menu")">Aggiungi nuova pizza</a></li>
                        </ul>  
                    </div>
                </div>
            }


            @if (!User.IsInRole("ADMIN"))
            {
                <div  class="col-4" style="width:55px"></div>
            }

            <!--MENU LINK-->
            <div class="col-4">
                <button class="btn bg-elegant  text-contrast" type="button"  aria-expanded="false">
                <a class="nav-link my-auto text-contrast" href="@Url.Action("Index", "Menu")">Menù</a>
                </button>
             
            </div>
            

            <!--OFFCANVAS BUTTON-->
            <div class="col-4">
                <button class="navbar-toggler p-2 rounded-circle bg-black btn-lg mx-auto padding-hover" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="material-icons-outlined text-contrast size-48">
                            menu
                    </span>
                </button>
            </div>
        </div>

        <!--OFFCANVAS BODY-->
        <div class="offcanvas offcanvas-end bg-contrast" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">PizzaRich</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contacts", "Home")">Contattaci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Menu")">Menù</a>
                    </li>
                    <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
</nav>

